@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(".woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(".woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect( 0 0 0 0);
  overflow: hidden;

}

.header-main {
  color: #000000;
  background-color: #ffffff;
  padding: 0 40px;

}

.navigation {
  display: flex;
}

.logo-link {
  margin: 0 28px 0 70px;
}

.logo {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  position: absolute;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 20px;
}

.navigation-item-link {
  text-decoration: none;
  font-family: inherit;
  font-weight: 700;
  color: #000000;
  line-height: 24px;
  font-size: 20px;
  padding: 20px 16px;
  display: block;
  text-align: center;

}

.navigation-list-users {
  margin-left: auto;
  display: flex;
  list-style-type: none;
  color: #000000;
  line-height: 24px;
  font-size: 20px;
  font-family: inherit;
  margin-bottom: 0;
}

.navigation-users {
  height: 64px;
  width: 44px;
  background-repeat: no-repeat;
  display: block;
  padding: 22px 12px;
  text-align: center;
}

.search {
  background-image: url(../images/icons/search.svg);
}

.like {
  background-image: url(../images/icons/like.svg);
}

.link-button {
  text-decoration: none;
  font-family: inherit;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 34px;
}

.number-like {
  line-height: 10px;
  font-size: 10px;
  background-color: #7DB54F;
  color: #ffffff;
  border-radius: 4px;
}

/*основное содержание */

.main-container {
  flex-grow: 1;

}

.index-main {
  background-color: #ffffff;
  color: #000000;
  margin-top:0;
  margin-bottom: 0;
}

.main-welcom {
  background-color: #f2f2f2;
  background-image: url(../images/background/mountains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  padding: 51px 371px 82px;
}

.hero{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.main-intro {
  background-color: #ffffff;
  color: #000000;
  padding: 69px 240px;
}

.main-intro-title {
  text-transform: uppercase;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  min-width: 620px;
}

.main-intro-text {
  text-align: center;
  line-height: 26px;
  font-size: 22px;
  min-width: 651px;

}

.advantages {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  margin-bottom: 0;
}

.advantages-list  {
  padding-left: 0;
  margin-top:0 ;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: 0;
}

.advantages-item {
  color: #333333;
  width: 400px;
  display: block;
  text-align: center;
  padding: 112px 85px;
}


.advantages-title {
  line-height: 28px;
  font-size: 24px;
  text-transform: uppercase;
  color:#000000;
  margin-bottom: 30px;


}

.advantages-item p {
  margin-bottom: 0;
  margin-top: 30px;
}

.advantages-city-canyon {
  list-style-type: none;
  color: #333333;
  margin-top:0;
  display:flex;
}

.advantages-cards {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.town {
  background-color: #82b3d3;
  color: #ffffff;
  padding-top: 102px;
  padding-bottom: 102px;
}

.town .advantages-title {
  color: #ffffff;
}

.square {
  background-color: rgba(131, 179, 211, 0.12);
}

.road {
  background-color: rgba(131, 179, 211, 0.2);
}

.tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.devil {
  background-color: #82b3d3;
  color: #ffffff;
  padding-top: 102px;
  padding-bottom: 102px;
}
.devil .advantages-title {
  color: #ffffff;
}


.comfort {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  line-height: 21px;
  font-size: 18px;

}
.container-comfort-promo {
  padding: 64px 310px;
}

.comfort-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  min-width: 505px;
}

.comfort-promo {
  line-height: 26px;
  font-size: 22px;
  min-width: 490px;
}

.comfort-list {
  list-style-type: none;
  display: flex;

  padding-left: 0 ;
  margin-top:0 ;
  text-align: center;
}

.comfort-item {
  width: 400px;
  padding:185px 85px 81px ;
}

.comfort-descriptions {
  margin: 0;
}

.comfort-item-title {
  line-height: 24px;
  font-size: 28px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0 px;
  font-family: inherit;
}

.hotels {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
  background-image: url(../images/icons/hotels.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;


}

.food {
  background-image: url(../images/icons/food.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-color: #ffffff;
  color: #333333;
}

.gift {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
  background-image: url(../images/icons/gift.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.search-hotel {
  background-color: #ffffff;
  color: #333333;
  text-align: center;
  line-height: 26px;
  font-size: 22px;
  min-width: 592px;
  padding: 96px 304px;
}


.search-hotel-title {
  color: #000000;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

.hotel-button {
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  border-style: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
  padding: 8px 50px;
}

.mail {
  background-image: url(../images/background/back-canyon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  background-color: #000000;
  line-height: 26px;
  font-size: 22px;
  text-align: center;
  padding: 96px 258px 104px ;
}



.mail-title {
  line-height: 36px;
  font-size: 30px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}

.mail p {
  margin-bottom: 54px;

}

.mail-spam {
  min-width:452px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.email {
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  font-family: inherit;
  min-width: 452px;
  border-style: none;
  border-radius: 4px;
  display: block;
  margin-bottom: 0;
}

.spam-button {
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  font-family: inherit;
  border-style: none;
  color: #ffffff;
  justify-content: flex-end;
  width: 232px;

}

.footer-contacts {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 40px 70px 30px;
  display: flex;

  gap: 41px ;
  margin-top: 0;
  margin-bottom: 0;
}

.social-list {
  list-style-type: none;
  max-width: 150px;
  display: flex;
  margin-right: auto;
}
.social-item {
  background-repeat: no-repeat;
}

.social-item:nth-child(3n) {
  margin-right: 0;
}
.social-item-link {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 47px;
}
.vk {
  background-image: url(../images/icons/vk.svg);
  background-repeat: no-repeat;
}
.tg {
  background-repeat: no-repeat;
  background-image: url(../images/icons/telegram.svg);
}
.youtube {
  background-image: url(../images/icons/youtube.svg);
  background-repeat: no-repeat;
}


.phone {
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  max-width: 720px;
  font-family: inherit;
}
.logo-academy-link {
  height: 33px;
  width: 115px;
  margin-left: auto;

}




/* catalog.html */





.hotels-sedon {
  background-image: url(../images/background/mountains2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 35px 70px 70px;
  margin-bottom: 0;
}

.main-container {
  width: 1200px;
  margin: 0;
}
.heading {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 8px ;
}

.home-hotel-list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 40px;
  padding-left: 0;
  max-width: 150px;
  display: flex;
  align-items:center;
}

.home-hotel-item {
  margin-right: 20px;
}

.home-hotel {
  line-height: 21px;
  font-size: 16px;
  margin-left: 0;
}

.page-in-home {
  width: 12px;
  height: 12px;
  display: block;
  background-image: url(../images/icons/home.svg);
  margin-right: auto;
  background-position: center;
}

.filter {
  border-style: none;
}

.container-usability {
display: flex;
justify-content: space-between;
}

.catalog-input {
width: 20px;
height: 20px;
background-color: #ffffff;
color:  #3F5E72;
margin-top: 0;
}

.control {
margin-right: auto;
display: block;
}

.catalog-usability-listing,
.catalog-hotel-listing {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

}

.catalog-usability-item,
.hotel-listing-item {
  display: flex;
  gap:16px;
  justify-content: center;
  padding-bottom: 16px;
}


.catalog-list-usability {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  padding-left: 0;
  border-style: none;
  gap:16px;
}

.catalog-list-hotel {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border-style: none;
}


.catalog-list-title {
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 32px;
}

.catalog-list-price {
display: flex;
flex-direction: column;
width: 288px;
border-style: none;
}

.catalog-price {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.price-item {
display: flex;
flex-direction:row;
}

.price-item-number {
  width: 143px;
  height: 48px;
  font-family: inherit;
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
  border-style: none;
}

.rad-left {
  border-top-left-radius:  4px;
  border-bottom-left-radius:  4px;
}
.rad-right {
  border-top-right-radius:  4px;
  border-bottom-right-radius:  4px;
}

.control {
  line-height: 23px;
}

.from-price {
  line-height: 24px;
  font-family: inherit;
  margin-top: 12px;
}

.number {
  font-family: inherit;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.apply-buttom,
.off-buttom {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  border-style: none;
  border-radius: 4px;
  text-align: center;
  font-family: inherit;
  width: 191px;
  height: 36px;

}

.off-buttom {
  background-color: transparent;
}
.buttom{
  display: flex;
  flex-direction: column ;
  gap: 32px;
  margin-left: 70px;
}

.found-hotel {
  background-color: #ffffff;
  color: #000000;
  padding: 50px 70px 60px 70px;


}

.found-hotel-container {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
}

.found-hotel-title {
  line-height: 36px;
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
  max-width: 450px;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}

.sorting {
  font-family: inherit;
  color: #333333;
  background-color: #ffffff;
  line-height: 21px;
  font-size: 18px;
  font-weight: 400;
  width: 292px;
  height: 48px;
  border-color: #E5E5E5;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

.show-visually {
  display: flex;
  padding-left: 0;
  margin-left: auto;
  margin: 0;
  list-style-type: none;
  gap: 8px;
}


.show {
  width: 48px;
  height: 48px;
  background-position: center;
  display: block;
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.show:last-child {
  margin-right: 0;
}

.pin {
  background-image: url(../images/icons/pin.svg);
  border: 2px solid black;
}

.list {
  background-image: url(../images/icons/list.svg);
}

.content {
  background-image: url(../images/icons/content.svg);
}

.hotel-list-preview {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 20px;

}

.hotel-item {
  box-shadow: 0 0 0 1px #E6E6E6 ;
  width: 340px;
  padding:20px  ;
  display: flex;
  flex-direction: column;



}

.hotel-item-card {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 16px;
}




.title-link {
  line-height: 28px;
  font-size: 24px;
  text-decoration: none;
  color: #000000;
  margin-top: 0;
  margin-bottom: 16px;
}

.title-link h3 {
  margin-bottom: 0;
}


.hotels-card {
  display:  flex;
  margin-top: 0;
  margin-bottom: 16px;
  width: 140px;
  color: #333333;
  font-family: inherit;
}

.card-item {
 min-width: 140px;
}

.price {
  min-width: 140px;
  text-align: end;
}

.cards-buttom {
  display: flex;
  gap: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.detail,
.favorites {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  background-color: #756157;
  border-radius: 4px;
  text-decoration: none;
  font-family: inherit;
  width: 140px;
  height: 36px;
  padding: 8px;

}

.favorites {
  background-color: #82B3D3;
  border-style: none;
}

.green {
  background-color: #7DB54F;
}

.cards-stars{
display: flex;
justify-content: space-between;
}

.raiting {
  line-height: 20px;
  font-size: 16px;
  color: #333333;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
  width: 140px;
  height: 36px;
  padding: 8px;
  text-decoration: none;
  border-style: none;

}
.stars {
  background-repeat: no-repeat;
  width: 140px;
  height: 36px;
  margin-top: 0;
  margin-bottom: 0;
}

.four {
  background-image: url(../images/icons/4-stars.svg);
}

.tree {
  background-image: url(../images/icons/3-stars.svg);
}

.two {
  background-image: url(../images/icons/2-stars.svg);
}

.page-list {
  list-style: none;
  min-width: 400px;
  display: flex;
  gap:8px;
  flex-wrap: wrap;
  padding-left: 0;
}

.page-item,
.page-current {
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  background-color: #82B3D3;
  color: #ffffff;
  border-radius: 4px;
  font-family: inherit;
  padding: 12px;
}

.page-item a {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

.pages {
  color: #000000;
  background-color: #ffffff;
}

.page-current {
  color: #000000;
  background-color: #F2F2F2;
}

.mail-catalog {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
  margin: 0 auto;

}

.mail-title-catalog {
  color: #000000;
  font-size:30px;
  line-height:36px;
  margin: 0 auto;
  width: 404px;
}

.mail-catalog p {
  color: #333333;
  min-width: 475px;
  margin: 0 auto;
}


.spam-button {
  border-style: none;
  color: #ffffff;
  width: 232px;
  margin: 0;
}

.mail-spam {
  font-family: inherit;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
  width: 684px;
  margin: 0 auto;
}
