@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(".woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(".woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  ;
}

.header-main {
  color: #000000;
  background-color: #ffffff;
}

.navigation-list {
  list-style-type: none;
}

.navigation-item-link {
  color: #000000;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;

}

.number-like {
  background-color: #7DB54F;
  border-radius: 10px;
  color: #ffffff;
  line-height: 10px;
  font-size: 10px;
}

.link-button {
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
  text-decoration: none;
  font-family: inherit;
  text-transform: uppercase;
}

.index-main {
  background-color: #ffffff;
  color: #000000;
}

.main-welcom {
  background-color: #000000;
  background-image: url(../images/background/mountains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.main-intro {
  background-color: #ffffff;
  color: #000000;

}

.main-intro-title {
  text-transform: uppercase;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
}

.main-intro-text {
  text-align: center;
  line-height: 26px;
  font-size: 22px;

}

.advantages {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.advantages-title {
  line-height: 28px;
  font-size: 24px;
  text-transform: uppercase;
}

.advantages-item {
  list-style-type: none;
  color: #333333;
}

.town {
  background-color: #82b3d3;
}

.square {
  background-color: rgba(131, 179, 211, 0.12);
}

.road {
  background-color: rgba(131, 179, 211, 0.2);
}

.tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.devil {
  background-color: #82b3d3;
  color: #ffffff;
}


.comfort {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  line-height: 21px;
  font-size: 18px;
}

.comfort-list {
  list-style-type: none;
}

.comfort-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.comfort-promo {
  line-height: 26px;
  font-size: 22px;
}

.comfort-item-title {
  line-height: 24px;
  font-size: 28px;
  color: #000000;
  text-transform: uppercase;
}

.hotels {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
  background-image: url(../images/icons/hotels.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.food {
  background-image: url(../images/icons/food.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-color: #ffffff;
  color: #333333;
}

.gift {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
  background-image: url(../images/icons/gift.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.search-hotel {
  background-color: #ffffff;
  color: #333333;
  text-align: center;
  line-height: 26px;
  font-size: 22px;

}

.search-hotel-title {
  color: #000000;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

.hotel-button {
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  border-style: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-family: inherit;
}

.mail {
  background-image: url(../images/background/back-canyon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  background-color: #000000;
  line-height: 26px;
  font-size: 22px;
  text-align: center;
}

.mail-title {
  line-height: 36px;
  font-size: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.email {
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  font-family: inherit;
}

.spam-button {
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  font-family: inherit;
  border-style: none;
  color: #ffffff;
}

.footer-contacts {
  background-color: #ffffff;
  color: #000000;
  text-align: center;

}

.social-list {
  list-style-type: none;

}

.social-item {
  background-color: #ffffff;
  color: #000000;
  background-repeat: no-repeat;
}

.vk {
  background-image: url(../images/icons/vk.svg);
  background-repeat: no-repeat;
}

.tg {
  background-repeat: no-repeat;
  background-image: url(../images/icons/telegram.svg);
}

.youtube {
  background-image: url(../images/icons/youtube.svg);
  background-repeat: no-repeat;
}

.phone {
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
}

.social-item-link {
  text-decoration: none;
}

/* catalog.html */

.hotels-sedon {
  background-image: url(../images/background/mountains2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;

}

.heading {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}



.catalog-list-title {
  font-size: 20px;
  line-height: 24px;
}

.control {
  line-height: 23px;
}

.from-price {
  line-height: 24px;
}

.number {
  font-family: inherit;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.apply-buttom {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  border-style: none;
  border-radius: 4px;
  text-align: center;
  font-family: inherit;
}

.off-buttom {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  font-family: inherit;
}

.found-hotel {
  background-color: #ffffff;
  color: #000000;
}

.found-hotel-title {
  line-height: 36px;
  font-size: 30px;
  text-transform: uppercase;
  color: #333333;
}

.soting {
  font-family: inherit;
  color: #333333;
  background-color: #ffffff;
  line-height: 21px;
  font-size: 18px;
  font-weight: 400;

}

.pin {
  background-image: url(../images/icons/pin.svg);
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 2px solid black;
}

.list {
  background-image: url(../images/icons/list.svg);
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.content {
  background-repeat: no-repeat;
  background-image: url(../images/icons/content.svg);
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.title-link {
  line-height: 28px;
  font-size: 24px;
  text-decoration: none;
  color: #000000;
}

.price {
  text-align: right;
}


.detail {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  background-color: #756157;
  border-radius: 4px;
  text-decoration: none;
  font-family: inherit;
}

.favorites {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  background-color: #82B3D3;
  border-radius: 4px;
  text-decoration: none;
  border-style: none;
  font-family: inherit;
}

.green {
  background-color: #7DB54F;
}

.raiting {
  line-height: 20px;
  font-size: 16px;
  color: #333333;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
  text-decoration: none;
  border-style: none;
}

.four-stars {
  background-image: url(../images/icons/4-stars.svg);
  background-repeat: no-repeat;
}

.tree-stars {
  background-image: url(../images/icons/3-stars.svg);
  background-repeat: no-repeat;
}

.two-stars {
  background-image: url(../images/icons/2-stars.svg);
  background-repeat: no-repeat;
}

.page-list {
  list-style: none;
}

.page-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  background-color: #82B3D3;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  font-family: inherit;
}

.page-current {
  color: #000000;
  background-color: #F2F2F2;
}

.mail-catalog {
  background-image: none;
  background-color: #ffffff;
  color: #000000;

}

.mail-catalog p {
  color: #333333;
}

.mail-catalog .spam-button {
  border-style: none;
  color: #ffffff;
}
